<mat-toolbar color="primary">
  <h3>Welcome to Quote Collector!</h3>
  <span class="fill-remaining-space"></span>
  <div *ngIf="user; then authenticated; else guest"></div>
  <ng-template #guest>
    <button color="primary" mat-raised-button (click)="loginWithGoogle()">
      <i class="material-icons md-48">login</i>
      Login
    </button>
  </ng-template>
  <ng-template #authenticated>
    <h3 style="font-size: small">{{ user.name }}</h3>
    <button mat-button (click)="logout()">
      <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
