<mat-toolbar color="primary">
  <div *ngIf="user; then authenticated; else guest"></div>
  <ng-template #guest>
    <h3>Welcome to Quote Collector!</h3>
    <button
      color="primary"
      mat-raised-button
      (click)="loginWithGoogle()"
      style="margin-left: auto"
    >
      <i class="material-icons md-48">login</i>
      Login
    </button>
  </ng-template>
  <ng-template #authenticated>
    <h3>Quote Collector | {{ user.name }}</h3>
    <button mat-button (click)="logout()" style="margin-left: auto">
      <mat-icon matTooltip="Logout">exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
