<mat-toolbar>
  <textarea
    cdkTextareaAutosize
    matInput
    class="textarea"
    [value]="formattedQuote"
  ></textarea>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="saveQuoteOfTheDay()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
