.example-spacer {
  flex: 1 1 auto;
}

.textarea {
  columns: 40;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: fit-content;
  line-height: 140%;
  font-size: medium;
}

.topbar {
  height: fit-content;
}
