<mat-toolbar id="toolbar" style="height: fit-content">
  <textarea
    matInput
    id="quote-of-the-day"
    class="textarea"
    [value]="formattedQuote"
    cdkTextareaAutosize
  ></textarea>

  <!--input matInput type="text" class="textarea" [value]="formattedQuote" /-->
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    id="save-quote-of-the-day"
    aria-label="Example icon-button with heart icon"
    (click)="saveQuoteOfTheDay()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Example icon-button with share icon"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
