table {
  width: 90%;
  margin: auto;
  margin-top: auto;
}

.table-container {
  height: 400px;
  margin: auto;
  overflow: auto;
}

.text-column {
  padding-left: 2%;
  padding-right: 2%;
}

.card {
  width: 95%;
  margin-top: auto;
  margin: auto;
}

.form-field {
  padding-right: 0.5%;
  padding-bottom: 2px;
}
