table {
  width: 90%;
  margin: auto;
  margin-top: auto;
}

.table-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

.text-column {
  padding-left: 2%;
  padding-right: 2%;
}

.card {
  width: 95%;
  margin-top: auto;
  margin: auto;
}
